DB_DRIVER=xxxxxx
DB_HOST=xxx
DB_PORT=3306
DB_USERNAME=ssss
DB_PASSWORD=123456
DB_NAME=xxxx

JWT_SECRET=change_me_in_production

# docker run -d \
#   --name postgres \
#   -e POSTGRES_USER=pos_user \
#   -e POSTGRES_PASSWORD=123456 \
#   -e POSTGRES_DB=crm_db \
#   -p 5432:5432 \
#   postgres:15